@model IEnumerable<Project1_5_Library.EventCustomer>

@{

    ViewData["Title"] = "Index";
}

<h1>Index</h1><p>
    <a asp-action="CreateAsync">Create New</a>
</p>
<table class="table table-sm table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                Customer

            </th>
            <th>
                Event

            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paid)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Event.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Paid)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditAsync", new { id = item.Id }) |

                    @Html.ActionLink("Details", "DetailsAsync", new { id = item.Id }) |

                    @Html.ActionLink("Delete", "DeleteAsync", new { id = item.Id })
                </td>
            </tr>

        }
    </tbody>
</table>