@model Project1_5_Library.EventCustomer

@{
    ViewData["Title"] = "DetailsAsync";
}

<h1>DetailsAsync</h1>

<div>
    <h4>EventCustomer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            Customer
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.Name)<br />
            @Html.DisplayFor(model => model.Customer.BirthDate)<br />
            <a href="mailto:@Html.DisplayFor(model => model.Customer.Email)">@Html.DisplayFor(model => model.Customer.Email)</a><br />
            @Html.DisplayFor(model => model.Customer.Address1).
            @Html.DisplayFor(model => model.Customer.Address2).
            @Html.DisplayFor(model => model.Customer.City) - @Html.DisplayFor(model => model.Customer.State).
            @Html.DisplayFor(model => model.Customer.Zipcode)
        </dd>
        <dt class = "col-sm-2">
            Event
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.Name) 
            (@Html.DisplayFor(model => model.Event.Type))<br />
            @Html.DisplayFor(model => model.Event.Date)<br />
            @Html.DisplayFor(model => model.Event.Cost)<br />
            <br />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Paid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Paid)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
